topics/api-migration/benchmark/resources/contacts.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="person" type="person" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="person">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="age" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>